<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-12-09T14:03:08Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Valerio/Project/Reminder-Sample-App/Reminder-Sample-App.xcodeproj</string>
</dict>
</plist>
